@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
h1 {
    color: magenta;
}
body {
    background-color: rgb(205, 192, 243);
    font-family: Comfortaa;
    font-size: 16px;
}
.card {
    border: 1px dashed black;
    border-radius: 5px;
    background-color: #ddd;
    font-family: Verdana;
    font-size: 14px;
}