
.work{
    align-items: center;
    padding: 0;
}

.work th{
    padding-bottom: 15px;
}

.work td{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
}


.work tr:hover{
    background: #6306546d;
}